#amounts-bar {
	display: table;
	width: 100%;
	background: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	position: fixed !important;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
	z-index: 1000;

	.amounts-bar-item {
		display: inline-table;
		padding: 5px 30px;
		text-align: center;
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		&.item-primary {
			@apply text-indigo-500;
			// color: darken($brand-primary, 20%);
		}
		&.item-success {
			@apply text-emerald-500;
			// color: darken($brand-success, 20%);
		}
		// &.item-info {
		// 	color: darken($brand-info, 20%);
		// }
		&.item-danger {
			@apply text-red-700;
			// color: darken($brand-danger, 20%);
		}
		&.item-warning {
			@apply text-amber-500;
			// color: darken($brand-warning, 20%);
		}

		.amounts-bar-item-title {
			padding: 0;
			margin: 0;
			font-size: 13px;
		}

		.amounts-bar-item-value {
			padding: 0;
			margin: 0;
			font-size: 15px;
		}
	}

	.amounts-bar-loading {
		width: 100%;
		text-align: center;
		padding: 25px 15px;
	}
}

#amounts-bar {
	.amounts-bar-container {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	#amounts-bar {
		display: block;
		overflow-x: scroll;
	}
}
