:root {
    --toastify-color-light: #fff !important;
    --toastify-color-dark: rgb(51 65 85) !important;
    --toastify-color-info: rgb(99 102 241) !important;
    --toastify-color-success: rgb(16 185 129) !important;
    --toastify-color-warning: rgb(249 115 22) !important;
    --toastify-color-error: rgb(220 38 38) !important;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7) !important;
}
